.navigation{
    width: 644px;
    height: 78px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navLinks{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navLinks li {
    text-align: center;
    line-height: 50px;
    
}
.navLinks li a {
    font-size: 15px;
    color: rgb(255, 255, 255);
}